@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');

:root {
  --primary-color: #ffc107;
  --secondary-color: #000000;
  --third-color: #2a2e34;
  --fourth-color: #14213D;
  --black-fade: rgba(6, 6, 6, 0.8);
  --background-color: rgba(42, 46, 52, .7);
  --primary-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --secondary-font-family: 'Brush Script MT', 'Brush Script Std', cursive;
  --cursive-font-family: 'Dancing Script';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;
  padding: 10px;
  background: var(--background-color);
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  margin: 2rem 1rem;
}

body {
  font-family: var(--primary-font-family);
  height: 100vh;
  background: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.7;
  color: white;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.hide {
  visibility: hidden;
}

/* Button Types */
.btn {
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 45px;
  cursor: pointer;
  padding: 5px 10px;
  transition-duration: 0.4s;
}

.addBtn {
  font-size: 1rem;
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 45px;
  cursor: pointer;
  padding: 3px 6px;
}

.btn:hover, .addBtn:hover {
  transform: scale(0.98);
}

.btn-square {
  border-radius: 5px;
  height: 100%;
  width: 80%;
  padding: 5px;
  margin: 5px;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
}

.edit-btn {
  cursor: pointer;
  color: var(--primary-color);
  background: black;
  padding: 2px 3px 0px 4px;
  margin: 0;
  transition-duration: .4s;
  font-size: 1em;
  border: none;
  border-radius: 45px;
}

.edit-btn:hover {
  transform: scale(1.1);
  color: var(--secondary-color);
  background: var(--primary-color);

}

/* -------- CSS FOR PAGES ------- */
/* Page Headings */
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  color: var(--primary-color);
}

.heading p {
  color: white;
  font-size: .7em;
}

/* Signin and Signup Page Background*/
.container > .signin-page, 
.container > .signup-page {
  background-image: url(./assets/images/golf-karts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-container {
  border-radius: 15px;
  padding: 2rem;
  background: 	rgba(6, 6, 6, 0.8);
}

/* Homepage */
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.course-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 10px;
}

/* Scorecard Page */
.scorecard-page-container {
  margin: 3rem auto;
}

/* Headings for page sections */
.section-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding: 15px 5px 5px 15px;
  margin: 0 1rem;
  font-family: var(--primary-font-family);
}

.border-background-img h3 {
  
  font-size: 3.5rem;
  font-weight: 700;
  font-family: var(--cursive-font-family);
  color: var(--primary-color);
  margin: 0;
  margin-top: 2rem;
}

.border-background-img span {
  background-image: url(./assets/svg/gold-fancy-border.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; 
  width: 90%;
  height: clamp(10vh, 12vh, 15vh);
  padding: 1px;
}

.border-background-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-heading p {
  padding-left: 20px;
  margin-bottom: 9px;
  color: white;
}

/* Personal */
.stats-section {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.stats-section > div {
  width: 25%;
  margin-bottom: 1rem;
}

.stats-section > div > h3, .centered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding: .5rem;
  margin-top: 1rem;
}

/* Score Position Medals */
.position-medals {
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-medals .scorecard:first-child {
  background-image: url(./assets/svg/gold-medal.png);
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 50px;
  padding-left: 80px;
}

.position-medals .scorecard:nth-child(2) {
  background-image: url(./assets/svg/silver-medal.png);
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 50px;
  padding-left: 80px;
}
.position-medals .scorecard:nth-child(3) {
  background-image: url(./assets/svg/bronze-medal.png);
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: 50px;
  padding-left: 80px;
}

@media (max-width: 500px) {
  .position-medals .scorecard:first-child,
  .position-medals .scorecard:nth-child(2),
  .position-medals .scorecard:nth-child(3) {
    background-image: none;
    padding: 0px 5px;
    width: fit-content;
  }
}

/* Spinner */
.spinner {
  height: 5rem;
  width: 5rem;
  margin: 1rem auto;
}

/* ------------REMOVES COUNTER ON INPUTS------------ */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Responsiveness */
@media (max-width: 768px) {
  .homepage-container {
    gap: .1rem;
  }
}

@media (max-width: 370px) {
  .homepage-container {
    gap: 3rem;
  }
  .course-buttons {
    flex-direction: column;
    align-items: center;
  }
}