:root {
  --primary-color: #fed053;
  --secondary-color: #000000;
  --third-color: #2a2e34;
  --fourth-color: #14213D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: var(--fourth-color);
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

button {
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 45px;
  cursor: pointer;
  padding: 5px 10px;
  transition-duration: 0.4s;
}

button:hover {
  transform: scale(0.98);
}

/* -------- CSS FOR PAGES ------- */
/* Page Headings */
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  color: var(--primary-color);
}

.heading p {
  color: white;
  font-size: .7em;
}

/* Login Container */
.loginContainer {
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  padding: 10px 0;
  margin: 50px;
}

/* Headings for page sections */
.section-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  color: var(--primary-color);
}

.section-heading p {
  padding-left: 20px;
  margin-bottom: 9px;
  color: white;
}

/* Toast Container */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/* ------------REMOVES COUNTER ON INPUTS------------ */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}