:root {
  --primary-color: #fed053;
  --secondary-color: #000000;
  --third-color: #2a2e34;
  --fourth-color: #14213D;
  --black-fade: rgba(6, 6, 6, 0.8);
  --cursive-font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: var(--secondary-color);
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.7;
  color: white;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.hide {
  visibility: hidden;
}

/* Button Types */
button {
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 45px;
  cursor: pointer;
  padding: 5px 10px;
  transition-duration: 0.4s;
}

button:hover {
  transform: scale(0.98);
}

.add-btn {
  width: 100%;
}

.btn-square {
  border-radius: 5px;
  height: 100%;
  width: 80%;
  padding: 5px;
  margin: 5px;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
}

/* -------- CSS FOR PAGES ------- */
/* Page Headings */
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  color: var(--primary-color);
}

.heading p {
  color: white;
  font-size: .7em;
}

/* Signin and Signup Page Background*/
.container > .signin-page, 
.container > .signup-page {
  background-image: url(./assets/images/golf-karts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-container {
  border-radius: 15px;
  padding: 2rem;
  background: 	rgba(6, 6, 6, 0.8);
}

/* Homepage */
.course-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
}

/* Scorecard Page */
.scorecard-page-container {
  margin: 3rem auto;
}

/* Headings for page sections */
.section-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding: 15px 5px 5px 15px;
  margin: 1.5rem 1rem; 
}

.section-heading p {
  padding-left: 20px;
  margin-bottom: 9px;
  color: white;
}

/* Personal */
.stats-section {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.stats-section > div {
  width: 25%;
  margin-bottom: 1rem;
}

.stats-section > div > h3, .centered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding: .5rem;
}

/* ------------REMOVES COUNTER ON INPUTS------------ */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}