.photo-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    font-family: var(--cursive-font-family);
}

.photo-item {
    flex-direction: column;
    width: 20%;
    margin: .3em;
}

.photo-item > img {
    min-height: 300px;
    width: 100%;
    border: .3em solid white;
}

.photo-item > p {
    font-size: 2.5em;
}