.form,
.content {
    width: 90%;
    margin: 0 auto;
}

.scorecard-form {
    margin: 1rem 0;
    padding: 20px 10px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 80%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
}

.form-group label {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: bold;
    color: var(--primary-color);
}

td input {
    width: 50px;
}

th {
    color: var(--primary-color);
}

.body-inputs input {
    width: 2rem;
    height: auto;
    text-align: center;
    margin: 1px;
}

#name {
    width: 7rem;
    padding: 6px;
}

.name-header {
    text-align: left;
}

.course-date-group {
    margin: 1rem .5rem;
    width: 100%;
}

.course-date-group > label {
    min-width: fit-content;
    padding: 0 1rem 0 .1rem;
}

.course-date-group > input {
    margin-right: 1rem;
}

/* Button Group */
.btn-group {
    display: flex;
    border-radius: 10px;
}

.btn-group button {
    margin: 1rem;
}

/* --------- STYLED TABLE FOOT---------- */
tfoot th,
tfoot td {
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
    font-size: .9em;
}

tfoot tr {
    background-color: white;
    border-bottom: 1px solid grey;
}

tfoot tr:nth-of-type(even) {
    background-color: lightgrey;
}

tfoot tr:last-of-type {
    border-bottom: 1px solid var(--secondary-color);
}

tfoot td:nth-child(2) {
    background-color: var(--fourth-color);
    border-radius: 0px;
}