h1 {
    padding: 0;
    margin: 0;
}

.positionCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    --background: var(--third-color);
    --border-color: linear-gradient(to bottom right, red, blue);
    --border-width: .25em;
    --edge-size: .8em;
    --divit-edge-size: .6em;
}

.positionCard {
    cursor: pointer;
}

.imgPosition {
    z-index: 1;
    position: relative;
    top: 1.2em;
}

.imgPosition img {
    height: 5em;
}

.nameContainer {
    display: inline-grid;
    position: relative;
    isolation: isolate;
    width: 90%;
    border: 0;
    font-size: 2rem;
    padding: 2rem;
    color: white;
    clip-path:
        polygon(
            /* Top Left */
            0% var(--edge-size),
            var(--edge-size) 0%,
            /* Middle Divet */
            40% 0%,
            45% var(--divit-edge-size),
            55% var(--divit-edge-size),
            60% 0%,
            /* Top Right */
            calc(100% - var(--edge-size)) 0%,
            100% var(--edge-size),
            /* Bottom Right */
            100% calc(100% - var(--edge-size)),
            calc(100% - var(--edge-size)) 100%,
            /* Bottom Left */
            var(--edge-size) 100%,
            0% calc(100% - var(--edge-size)));
}

.nameContainer::before,
.nameContainer::after {
    content: '';
    position: absolute;
    inset: 0;
}

.nameContainer::before {
    background: var(--border-color);
    z-index: -2;
}

.nameContainer::after {
    background: var(--background);
    z-index: -1;
    clip-path:
        polygon(
            /* Top Left */
            var(--border-width) calc(var(--edge-size) + var(--border-width) * .5),

            calc(var(--edge-size) + var(--border-width) * .5) var(--border-width),
            /* Middle Divet */
            calc(40% - var(--border-width) * .5) var(--border-width),

            calc(45% - var(--border-width) *.5) calc(var(--divit-edge-size) + var(--border-width)),

            calc(55% + var(--border-width) * .5) calc(var(--divit-edge-size) + var(--border-width)),

            calc(60% + var(--border-width) * .5) var(--border-width),
            /* Top Right */
            calc(100% - calc(var(--edge-size) + var(--border-width) * .5)) var(--border-width),

            calc(100% - var(--border-width)) calc(var(--edge-size) + var(--border-width) * .5),
            /* Bottom Right */
            calc(100% - var(--border-width)) calc(100% - calc(var(--edge-size) + var(--border-width) * .5)),

            calc(100% - calc(var(--edge-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* Bottom Left */
            calc(var(--edge-size) + var(--border-width) * .5) calc(100% - var(--border-width)),

            var(--border-width) calc(100% - calc(var(--edge-size) + var(--border-width) * .5)));
}

.scoreContainer {
    position: relative;
    top: -1em;
    z-index: 1;
    width: 50%;
    background: blueviolet;
    font-size: 1.2em;
    border: 0;
    color: white;
    padding: .25em;
    clip-path:
        polygon(
            0% 0%,
            100% 0%,
            calc(80% - var(--edge-size)) 100%,
            calc(20% + var(--edge-size)) 100%
        );
}

.scoreContainer::before,
.scoreContainer::after {
    content: '';
    position: absolute;
    inset: 0;
}

.scoreContainer::before {
    background: linear-gradient(to bottom right, blue, red);
    z-index: -2;
}

.scoreContainer::after {
    background: var(--background);
    z-index: -1;
    clip-path:
        polygon(
            calc(var(--border-width) * 3) var(--border-width),
            calc(100% - var(--border-width) * 3) var(--border-width),
            calc(80% - var(--edge-size)) calc(100% - var(--border-width)),
            calc(20% + var(--edge-size)) calc(100% - var(--border-width))
        );
}