img {
    height: 50px;
}

a {
    color: var(--primary-color);
}

.logout-btn {
    color: var(--primary-color);
    background: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 45px;
    cursor: pointer;
    padding: 5px 10px;
    transition-duration: 0.4s;
}

.logout-btn:hover {
    transform: scale(1.1);
}

/* ------------------------ Navbar and burger menu ----------------------- */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
    height: 5em;
    background-color: var(--secondary-color);
}

.menu {
    display: flex;
    align-items: center;
    padding: 3em 0;
    gap: 2em;
    border-bottom-left-radius: 25px;
}

/* ----------------- Sliding menu ---------------- */

.burger {
    display: none;
}

.burger div {
    width: 3em;
    height: 0.4em;
    margin: .83em 0;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
        cursor: pointer;
    }

    .menu {
        position: fixed;
        top: 5em;
        right: 0;
        height: fit-content;
        width: 50vw;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        background-color: var(--third-color);
    }
}

/* ---------------- Active Class ---------------- */

.active {
    transform: translateX(0%);
}

/*  ---------------- Animations ------------------ */

.toggle .line1 {
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}